

.tagContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 10%;
  color: aliceblue;
  gap: 2rem;
  font-size: 2rem;
  text-shadow: 4px 4px #222;
  user-select: none;
}


/* .home_art_lamp {
  transform: scale(0.4);
  transform-origin: 0% 100%;
  bottom: 1%;
  left: 20%;
  max-height: 240%;
  z-index: 2;
} */

.home_art_street {
  transform: scale(0.7);
  transform-origin: -10% 50%;
  left: 1%;
  bottom: 0px;
  z-index: 0;
}