.profileCard__container {
  display: flex;
  position: relative;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 60px;
  width: 160px;
  align-items: center;
  justify-content: space-evenly;
  /* user-select: none; */
  transition: 100ms ease-in-out;
}

.profileCard__container:hover {
  transform: scale(1.1);
}

.profileCard__container:active {
  transform: scale(1.05);
}

.profileCard__avatar {
  /* position: absolute; */
  /* right: 10%; */
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
